@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

.product {
  display: flex;
  flex-direction: column;
  background: #d0ede3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  height: 320px;
  font-family: 'Comfortaa', cursive;
}

.title {
  text-align: center;
  color: #375b4e;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
  font-size: 15px;
  padding-bottom: 5px;
}

.img {
  width: 100%;
  margin: auto 2px;
}

.description {
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 5px;
  text-align: center;
  color: #375b4e;
}

.add-btn {
  padding: 7px 15px;
  text-align: center;
  border: none;
  outline: none;
  width: 120px;
  margin: 5px auto 5px;
  background: rgba(96, 168, 142, 0.8);
  border-radius: 7px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  color: #ffffff;
}

.add-btn_on {
  background: #375b4e;
}

.price {
  margin-bottom: 5px;
  text-align: center;
  color: #375b4e;
}
